/* === stroan główna === */
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background-color: #000000;
  color: #e6e8ef;
  font-family: 'Space Mono', monospace;
}

/* === header === */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 12px 16px;
  border-bottom: 5px solid #ff6060;
  padding-bottom: 10px;
  margin-bottom: 1px;
  margin-left: 50px;
  margin-right: 50px;
}
.header-txt{
  margin-left: 300px;
  margin-right: 300px;
}
.logo-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.3);
}
.planet-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  font-family: 'Space Mono', monospace;
}
.planet-text h2 {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
  margin-top: 12px;
}

/* === linki nawigazyjne === */
.main-header a { 
  background: transparent;
  border: none;
  color: #ff6060;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  transition: color 0.2s ease;
}
.main-header a:hover {
  color: #ffffff;
}

/* === misje === */

.mission {
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 10px;
}
.mission h1 {
  font-size: 4rem;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
  margin-bottom: 1px;
}
.countdown {
  font-size: 1.5rem;
  font-family: 'Space Mono', monospace;
  margin-bottom: 30px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 80px;
}
.button-bilet {
  font-family: 'Space Mono', monospace;
  background-color: #ff6060;
  color: #000000;
  border: none;
  padding: 14px 50px;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-decoration: none;
}
.button-bilet:hover {
  transform: scale(0.97);
  background-color: #ffffff;
}
.txtinfo {
  color: #ffffff;
  margin-top: 500px;
  margin-right: 200px;
  margin-left: 200px;
}

/* === stopka === */
footer {
  text-align: center;
  padding: 3px;
  background-color: #ff6060;
  color: #000000;
  font-size: 0.9rem;
  border-top: 1px solid #222;
}

/* ===== strona nowości ===== */

.uklad-strony {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.kolumna-lewa,
.kolumna-prawa {
  width: 20%;
  background-color: #111;
  color: #fff;
  padding: 10px;
}
.kolumna-srodek {
  width: 60%;
  background-color: #222;
  color: #fff;
  padding: 20px;
}
.token img {
  width: 300px;
  padding-bottom: 30px;
  position: center;
}
.voyager img {
  width: 100%;
}
.voyager {
  text-align: center;
}
.logo_haft img {
  width: 400px;
  position: center;
}

/* ===nawigacja === */
.page-nav {
  background-color: #111;
  padding: 10px;
  text-align: center;
}
.page-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 20px;
}
.page-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.page-nav a:hover {
  color: #ff6060;
}
.logon img {
  width: 500px;
  padding-bottom: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.opisonas {
  text-align: center;
}
.voyagertxt {
  font-size: 50px;
  color: #ff6060;
  padding-top: 250px;
  text-align: center;

}
.kolumna-prawa img {
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.kolumna-prawa {
  text-align: right;
}

/* ==========strona z biletami========== */

.bilety-page, 
.bilety-page * {
  font-family: 'Space Mono', monospace;
  align-items: center;
  text-align: center;
}
.wybor-misji {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.misja-option {
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px;
  transition: all 0.3s ease;
  text-align: center;
}
.misja-option img {
  width: 400px;
  height: auto;
  border-radius: 80px;
  transition: filter 0.5s ease;
}
.misja-option:hover {
  transform: scale(1.1);
}
input[type="radio"]:checked + .misja-option {
  border-color: #ff6060;
}
input[type="radio"]:checked + .misja-option img {
  filter: grayscale(100%);
}
.plss-txt{
  width: 600px;
  text-align: left;
}
.cena-finalna {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #000;
  color: #ff6060;
  text-align: center;
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
  border-top: 5px solid #ff6060;
}
#kwota {
  font-weight: bold;
  font-size: 2.5rem;
}

/* ===== animacje & responsywność ===== */

@keyframes slide-in-bottom
{ from { transform: translateY(50%); opacity: 0; }
  to { transform: translateY(0); opacity: 1;} }

.slide-in-bottom {
  animation: slide-in-bottom 1s ease-out forwards; }

@keyframes slide-in-bok
{ from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1;} }

.slide-in-bok {
  animation: slide-in-bok 1s ease-out forwards; }


@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
.float-anim {
  animation: float 3s ease-in-out infinite;
}
@keyframes twinkle {
  0%, 100% { filter: brightness(1); }
  50% { filter: brightness(1.2); }
}
.twinkle-anim {
  animation: twinkle 2.5s ease-in-out infinite;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    gap: 12px;
  }
  .nav-left, .nav-right {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .logo {
    height: 50px;
  }
}
